[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
pytest = "*"
spacy-download = "*"

[dev-packages]

[requires]
python_version = "The python command has been deprecated! Please use python2 or python3."
